<div style="
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
">
        <a class="btn btn-info me-2" href="@Url.Action("Index", "Cliente")">Entrar no Projeto</a>
</div>